/* 切换按钮 */
.btns {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 50px;
	height: 18px;
	font-size: 0;
	text-align: center;
}
.btns span {
	position: relative;
    display: inline-block;
    width: 13px;
    height: 13px;
    border: 2px solid #fff;
    border-radius: 100%;
    margin: 0 8px;
    cursor: pointer;
    line-height: 6px;
    vertical-align: middle;
    transition: all 0.3s linear 0s;
    -webkit-transition: all 0.3s linear 0s;
}
.btns .active {
	box-shadow: 0 0 12px rgba(255,255,255,0.8);
}
.btns .active:before {
	content: "";
	position: absolute;
	left: 4px;
	top: 4px;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background: #fff;
}
